In [60]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math

In [ ]:
# Importing the csv file
df = pd.read_csv(r'HappinessData-1.csv')

# Moving first column to the last
df = df[['City Services Availability', 'Housing Cost', 'Quality of schools', 'Community trust in local police', 'Community Maintenance', 'Availability of Community Room ', 'Unhappy/Happy']]
print(df.isnull().sum())
print(df.shape)

# Finding NAs and deleting the rows which contain them
df = df.dropna()
print(df.isnull().sum())
print(df.shape)

In [ ]:
# Test Splitting our data 80:20
# Shuffling data
df = df.sample(frac = 1)

# Making size for the training set 80%
train_set_size = int(0.8 * len(df))

# Splitting data set
train_set = df[:train_set_size]
test_set = df[train_set_size:]

print(train_set)

In [121]:
# Getting covariance matrix from train_set
covMatrix = train_set.corr()
print(covMatrix.shape)
pearsonMatrix = covMatrix.unstack()
pearsonMatrix = pearsonMatrix.sort_values(kind="quicksort")
print(pearsonMatrix)

(4, 4)
Availability of Community Room   Unhappy/Happy                      0.172935
Unhappy/Happy                    Availability of Community Room     0.172935
                                 Distance                           0.288483
Distance                         Unhappy/Happy                      0.288483
Availability of Community Room   Distance                           0.302707
Distance                         Availability of Community Room     0.302707
City Services Availability       Unhappy/Happy                      0.309290
Unhappy/Happy                    City Services Availability         0.309290
City Services Availability       Availability of Community Room     0.421725
Availability of Community Room   City Services Availability         0.421725
City Services Availability       Distance                           0.969069
Distance                         City Services Availability         0.969069
City Services Availability       City Services Availability         1.000000
Availability of Community Room   Availability of Community Room     1.000000
Unhappy/Happy                    Unhappy/Happy                      1.000000
Distance                         Distance                           1.000000
dtype: float64

In [63]:
# Since we know that Availability of Community Room   
# and City Services Availability have the highest correlation, we can drop 
# the rest of the variables
# train_set = train_set.drop(['Housing Cost', 'Quality of schools', 'Community trust in local police', 'Community Maintenance'], axis = 1)
train_set = train_set.drop(['Housing Cost', 'Quality of schools', 'Community trust in local police', 'Community Maintenance'], axis = 1)

In [113]:
train_set

,City Services Availability,Availability of Community Room,Unhappy/Happy,Distance
93,5,4,1,4.000000
7,4,4,0,3.000000
120,5,5,1,4.123106
23,5,4,1,4.000000
10,5,5,1,4.123106
...,...,...,...,...
80,5,5,1,4.123106
118,5,5,1,4.123106
130,5,5,1,4.123106
79,3,4,0,2.000000
37,5,5,0,4.123106

In [109]:
# Finding Euclidean Distance and adding them to the training set based on test point

testPoint = [1, 4]
distArr = []
columns = list(train_set)
type(train_set)
for i in range(0, len(train_set)):
    # print(train_set['City Services Availability'].iloc[i], train_set['Availability of Community Room '].iloc[i])
    distance = math.sqrt((testPoint[0] - train_set['City Services Availability'].iloc[i]) ** 2 + (testPoint[1] - train_set['Availability of Community Room '].iloc[i]) ** 2)
    distArr.append(distance)

train_set['Distance'] = distArr
train_set

,City Services Availability,Availability of Community Room,Unhappy/Happy,Distance
93,5,4,1,4.000000
7,4,4,0,3.000000
120,5,5,1,4.123106
23,5,4,1,4.000000
10,5,5,1,4.123106
...,...,...,...,...
80,5,5,1,4.123106
118,5,5,1,4.123106
130,5,5,1,4.123106
79,3,4,0,2.000000
37,5,5,0,4.123106

In [110]:
# Choosing our K and getting the closest
K = 5
k_result = train_set.nsmallest(K, ['Distance'])
k_result['Unhappy/Happy'].value_counts()

0    3
1    2
Name: Unhappy/Happy, dtype: int64

In [111]:
k_result['Unhappy/Happy'].value_counts()[:1]

0    3
Name: Unhappy/Happy, dtype: int64

In [ ]:
test_set